@import './mixins.scss';
@import './variables.scss';

.Container {
  @include breakpoint(small) {
    &:last-of-type {
      & .Content {
        border-bottom: none;
      }
      & .TextContainer {
        border-bottom: none;
      }
    }
  }
  @include breakpoint(medium) {
    min-height: 100%;
    align-self: stretch;
    cursor: pointer;
    &:hover {
      .NumberContainer {
        opacity: 0.55;
      }
    }
    &:first-of-type {
      .NumberContainer {
        border-left: unset;
      }
    }
    &:last-of-type {
      & .NumberContainer {
        border-right: none;
      }
      .OpenedNumberContainer {
        border-right: 1px solid $color-light;
      }
    }
  }
}

.Title {
  margin-top: auto;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  @include breakpoint(small) {
    font-size: $text-md;
    padding: 0.5rem;
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
  }
  @include breakpoint(medium) {
    font-size: $text-sm;
  }
}

.Inner {
  display: flex;
  // align-items: flex-end;
  height: 100%;
  @include breakpoint(small) {
    flex-direction: column;
  }
}

.Input {
  display: none;
  &:checked + .TextContainer {
    color: red;
    max-width: unset;
    
  }
}

.TextContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include breakpoint(small) {
    max-height: 0;
    flex-direction: column-reverse;
    border-bottom: 1px solid $color-light;
  }
  @include breakpoint(medium) {
    max-width: 0;
  }
}

.OpenedNumberContainer {
  @include breakpoint(medium) {
    border-right: 1px solid $color-light;
  }
}

.OpenedTextContainer {
  @include breakpoint(small) {
    max-height: unset;
    border-bottom: none;
  }
  @include breakpoint(medium) {
    max-width: unset;
    padding: 0.5rem;
  }
}

.Content {
  text-align: left;
  @include breakpoint(small) {
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid $color-light;
    font-size: $text-sm;
  }
  @include breakpoint(medium) {
    display: none;
    font-size: $text-md;
  }
}

.OpenedContent {
  @include breakpoint(medium) {
    display: block;
    margin-bottom: 8rem;
  }
}

.NumberContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-left: 1px solid $color-light;
  padding: 0.5rem;
  @include breakpoint(small) {
    text-align: left;
    border-left: none;
  }
}

.Number {
  @include breakpoint(small) {
    font-size: $text-lg;
  }
  @include breakpoint(medium) {
    font-size: $text-md;
  }
}