@import './mixins.scss';
@import './variables.scss';

.Container {
  display: block;
}

.List {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  list-style: none;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-light;
  border-top: 1px solid $color-light;
  @include breakpoint(small) {
    flex-direction: column;
  }
  @include breakpoint(medium) {
    min-height: 100vh;
  }
}

.Title {
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: $text-md;
  font-weight: 400;
  color: $color-light;
  text-align: left;
  text-transform: uppercase;
  border-top: 1px solid $color-light;
}