@import './mixins.scss';
@import './variables.scss';

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-light;
  @include breakpoint(small) {
    grid-template-columns: 1fr;
    grid-auto-rows: unset;
  }
}