@import './mixins.scss';
@import './variables.scss';

.Body {
  display: block;
  border-top: 1px solid $color-light;
  @include breakpoint(small) {
    flex-direction: column;
  }
  & > div:first-child {
    width: 13%;
  }
  & > div:last-child {
    width: 87%;
  }
}

.InnerContainer {
  // display: flex;
  // flex-direction: column;
  display: inline-block;
  vertical-align: top;
}

.Name {
  border-bottom: 1px solid $color-light;
  padding: 0.5rem 0.5rem;
  font-size: $text-sm;
  font-weight: 400;
  color: $color-light;
  text-align: left;
  text-transform: uppercase;
}

.Content {
  overflow-y: hidden;
  padding: 0.25rem 0.5rem;
  font-size: $text-sm;
  font-weight: 400;
  color: $color-light;
  text-align: left;
}