@import './variables.scss';

.Body {
  display: flex;
  border-top: 1px solid $color-light;
  & > div:first-child {
    flex-basis: 14.5%;
  }
  & > div:last-child {
    flex-basis: 85.5%;
  }
}

.InnerContainer {
  display: flex;
  flex-direction: column;
}

.Name {
  border-bottom: 1px solid $color-light;
  padding: 0.25rem 0.5rem;
  font-size: $text-sm;
  font-weight: 400;
  color: $color-light;
  text-align: left;
  text-transform: uppercase;
}

.Content {
  padding: 0.25rem 0.5rem;
  font-size: $text-sm;
  font-weight: 400;
  color: $color-light;
  text-align: left;
}